/* ---------- Fonts import ---------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

@font-face {
  font-family: 'omnessemibolditalic';
  src: url('../fonts/omnes_semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/omnes_semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'omnesmediumitalic';
  src: url('../fonts/omnes_mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/omnes_mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'omnessemibold';
  src: url('../fonts/omnes_semibold-webfont.woff2') format('woff2'),
    url('../fonts/omnes_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'omnesmedium';
  src: url('../fonts/omnes_medium-webfont.woff2') format('woff2'),
    url('../fonts/omnes_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------------------- */
/*                              CUSTOM PROPERTIES                             */
/* -------------------------------------------------------------------------- */
:root {

  /* Colors */
  --primary-color: hsl(259, 56%, 49%);
  --secondary-color: hsl(70, 100%, 47%);
  --accent-color: hsl(6, 100%, 70%);
  --text-color: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);

  /* Font Familiy */
  --heading-font: 'omnesmedium', sans-serif;
  --body-font: 'Roboto', sans-serif;

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

}