/* ---------- Fonts import ---------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

@font-face {
  font-family: 'omnessemibolditalic';
  src: url('../fonts/omnes_semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/omnes_semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'omnesmediumitalic';
  src: url('../fonts/omnes_mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/omnes_mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'omnessemibold';
  src: url('../fonts/omnes_semibold-webfont.woff2') format('woff2'),
    url('../fonts/omnes_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'omnesmedium';
  src: url('../fonts/omnes_medium-webfont.woff2') format('woff2'),
    url('../fonts/omnes_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}