/* ---------- Fonts import ---------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

@font-face {
  font-family: 'omnessemibolditalic';
  src: url('../fonts/omnes_semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/omnes_semibolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'omnesmediumitalic';
  src: url('../fonts/omnes_mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/omnes_mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: 'omnessemibold';
  src: url('../fonts/omnes_semibold-webfont.woff2') format('woff2'),
    url('../fonts/omnes_semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'omnesmedium';
  src: url('../fonts/omnes_medium-webfont.woff2') format('woff2'),
    url('../fonts/omnes_medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

/* -------------------------------------------------------------------------- */
/*                              CUSTOM PROPERTIES                             */
/* -------------------------------------------------------------------------- */
:root {

  /* Colors */
  --primary-color: 259 56% 49%;
  --primary-color-tint: 259 54% 80%;
  --primary-color-shade: 266 49% 42%;
  --secondary-color: 70 100% 47%;
  --accent-color: 6 100% 70%;
  --gradient-color-from: 261 54% 95%;
  --gradient-color-to: 259 54% 87%;
  --text-color: 0 0% 0%;
  --grey-color: 0 0% 52%;
  --white-color: 0 0% 100%;

  /* Font Familiy */
  --body-font: 'omnesmedium', sans-serif;
  --body-font-italic: 'omnesmediumitalic', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
  --ff-semibold: 'omnessemibold', sans-serif;
  --ff-semibold-italic: 'omnessemibolditalic', sans-serif;

  /* Font Sizes */
  --fs-section-title: 2.875rem;
  --fs-section-subtitle: 1.875rem;
  --fs-section-paragraph: 1.125rem;
  --fs-nav: .875rem;
  --fs-btn: 1.125rem;

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

}

@media (max-width: 767px) {
  :root {
    /* Font Sizes */
    --fs-section-title: 2.125rem;
    --fs-section-subtitle: 1.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    RESET                                   */
/* -------------------------------------------------------------------------- */

body {
  color: hsl(var(--primary-color));
  font-family: var(--body-font);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
}

section {
  position: relative;
}

/* Swiper Slider  */
.carousel-wrapper {
  position: relative;
}

.next,
.prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.next {
  right: -50px;
  left: auto;
}

.prev {
  right: auto;
  left: -50px;
}

.next>svg,
.prev>svg {
  width: .9375rem;
}

.next>svg .line,
.prev>svg .line {
  fill: none;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.pagos .next>svg .line,
.pagos .prev>svg .line {
  stroke: hsl(var(--secondary-color));
}

.services .next>svg .line,
.services .prev>svg .line {
  stroke: hsl(var(--primary-color));
}

/* Bootstrap form input reset */
form input[type="text"]:not(#nav-search),
form input[type="tel"],
form input[type="email"],
form select.form-select,
form textarea.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #1D1D1B;
  font-family: var(--paragraph-font);
}

form input[type="text"]:not(#nav-search):focus,
form input[type="tel"]:focus,
form input[type="email"]:focus,
form select.form-select:focus,
form textarea.form-control:focus {
  box-shadow: none;
  border-bottom-color: hsl(var(--primary-color));
}

form input[type="text"]:not(#nav-search)::placeholder,
form input[type="tel"]::placeholder,
form input[type="email"]::placeholder,
form select::placeholder,
form textarea::placeholder {
  color: hsl(var(--grey-color));
}

form select.form-select {
  background-image: url('../images/down-angle.svg');
}

/* Bootstrap invalid feedback */
.invalid-feedback {
  color: hsl(var(--primary-color));
}

/* Invalid */
.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-select.is-invalid,
.was-validated .form-select:invalid {
  background-image: url('../images/invalid-icon.svg');
  border-color: hsl(var(--primary-color));
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.form-select.is-invalid:focus,
.was-validated .form-select:invalid:focus {
  border-color: hsl(var(--primary-color));
}

/* Valid */
.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: url('../images/valid-icon.svg');
  border-color: hsl(var(--text-color));
}

.form-select.is-valid:focus,
.was-validated .form-select:valid:focus {
  border-color: hsl(var(--primary-color));
}

/* Remove box shadow on focus (valid or invalid) */
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.form-select.is-invalid:focus,
.was-validated .form-select:invalid:focus,
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus,
.form-select.is-valid:focus,
.was-validated .form-select:valid:focus {
  box-shadow: none;
}

/* Bootstrap alert custom */
.alert {
  border-radius: 0;
  border: none;
}

.ot-alert-success {
  background-color: hsl(var(--secondary-color));
  color: hsl(var(--text-color));
}

/* -------------------------------------------------------------------------- */
/*                               UTILITY CLASSES                              */
/* -------------------------------------------------------------------------- */

.section-title {
  font-family: var(--ff-semibold);
  font-size: var(--fs-section-title);
  font-weight: var(--fw-bold);
  letter-spacing: .325rem;
  text-transform: uppercase;
}

.section-subtitle {
  font-family: var(--ff-semibold);
  font-size: var(--fs-section-subtitle);
  line-height: 1.3;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section-title-small {
  font-weight: 600;
  letter-spacing: 1px;
  margin-block-end: 3.125rem;
  text-transform: uppercase;
}

.button {
  background-color: hsl(var(--white-color));
  border: 3px solid;
  border-radius: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-btn);
  overflow: hidden;
  height: 2.8125em;
  width: 9.0625em;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.button.small {
  height: 2.5em;
  width: 7.35em;
}

.button::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-110%);
  -moz-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
  -webkit-transition: all .3s cubic-bezier(.15, 0, 0, 1);
  -moz-transition: all .3s cubic-bezier(.15, 0, 0, 1);
  transition: all .3s cubic-bezier(.15, 0, 0, 1);
  z-index: -1;
}

.button:is(:hover, :focus)::before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.button.icon>svg {
  margin-left: .625em;
  width: 1.125rem;
}

.button.icon>svg .line {
  fill: none;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 3.5px;
}

.button.button-primary {
  background-color: hsl(var(--primary-color));
  border-color: hsl(var(--primary-color));
  color: hsl(var(--white-color));
}

.button.button-primary.icon>svg .line {
  stroke: hsl(var(--white-color));
}

.button.button-secondary {
  border-color: hsl(var(--secondary-color));
  color: hsl(var(--primary-color));
}

.button.button-secondary.icon>svg .line {
  stroke: hsl(var(--secondary-color));
}

.button.button-secondary:is(:hover, :focus) {
  color: hsl(var(--primary-color));
}

.button.button-secondary:is(:hover, :focus).icon>svg .line {
  stroke: hsl(var(--primary-color));
}

.button.button-accent {
  border-color: hsl(var(--accent-color));
  color: hsl(var(--accent-color));
}

.button.button-accent.icon>svg .line {
  stroke: hsl(var(--accent-color));
}

.button.button-accent:is(:hover, :focus) {
  color: hsl(var(--white-color));
}

.button.button-accent:is(:hover, :focus).icon>svg .line {
  stroke: hsl(var(--white-color));
}

.button.button-white {
  border-color: hsl(var(--white-color));
  color: hsl(var(--white-color));
}

.button.button-white.icon>svg .line {
  stroke: hsl(var(--white-color));
}

.button.button-white:is(:hover, :focus) {
  color: hsl(var(--primary-color));
}

.button.button-white:is(:hover, :focus).icon>svg .line {
  stroke: hsl(var(--primary-color));
}

.button.button-primary::before {
  background: hsl(var(--primary-color));
}

.button.button-secondary::before {
  background: hsl(var(--secondary-color));
}

.button.button-accent::before {
  background: hsl(var(--accent-color));
}

.button.button-white::before {
  background: hsl(var(--white-color));
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-accent {
  color: var(--accent-color);
}

.bg-primary-clr {
  background-color: hsl(var(--primary-color));
}

.bg-primary-tint {
  background-color: hsl(var(--primary-color-tint));
}

.ff-paragraph {
  font-family: var(--paragraph-font);
  font-size: var(--fs-section-paragraph);
}

.ff-medium {
  font-family: var(--body-font);
}

.ff-medium-italic {
  font-family: var(--body-font-italic);
}

.ff-semibold {
  font-family: var(--ff-semibold);
}

.ff-semibold-italic {
  font-family: var(--ff-semibold-italic);
}

.py-15 {
  padding-block: 3.125rem;
}

@media (min-width: 992px) {
  .py-15 {
    padding-block: 9.375rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* -------------------------------------------------------------------------- */
/*                                 GLOBAL                                     */
/* -------------------------------------------------------------------------- */

/* ------------- Footer ------------- */
footer {
  background-color: hsl(var(--primary-color-shade));
}

.footer-nav .nav-item {
  align-items: center;
  padding-block: .3125rem;
  padding-inline: 3.125rem;
  text-align: center;
  width: auto;
}

footer .footer-nav .nav-item::before,
footer .footer-nav .nav-item::after {
  background-color: hsl(var(--white-color));
  width: 1px;
}

@media (max-width: 991px) {
  .footer-nav .nav-item {
    padding-block: 0;
    padding-inline: 1.875rem;
  }

  .footer-nav .nav-item::after {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer-nav .nav-item>a {
    font-size: .75rem;
  }
}

@media (max-width: 575px) {
  .footer-nav>ul {
    flex-wrap: wrap;
    row-gap: 1.875rem;
  }

  .footer-nav .nav-item {
    flex: 50%;
  }

  .footer-nav .nav-item:nth-child(3)::before {
    display: none;
  }
}

.footer-nav .nav-item:first-child::before {
  display: none;
}

.footer-nav .nav-item>a {
  background-image: -moz-linear-gradient(90deg, hsl(var(--accent-color)), hsl(var(--accent-color)) 50%, hsl(var(--white-color)) 50%);
  background-image: -webkit-linear-gradient(90deg, hsl(var(--accent-color)), hsl(var(--accent-color)) 50%, hsl(var(--white-color)) 50%);
  background-image: linear-gradient(to right, hsl(var(--accent-color)), hsl(var(--accent-color)) 50%, hsl(var(--white-color)) 50%);
}


/* -------------------------------------------------------------------------- */
/*                                 LAYOUTS                                    */
/* -------------------------------------------------------------------------- */

/* Hero section */
.hero-content {
  background-image: linear-gradient(135deg, hsl(var(--gradient-color-from)) 60%, hsl(var(--gradient-color-to)));
  height: 100%;
  padding-block: 1.875rem;
}

/* Inner hero section */
.inner-page-hero {
  background-image: linear-gradient(to right, hsl(var(--gradient-color-to)) 10%, hsl(var(--gradient-color-from)));
}

.inner-page-hero.has-image {
  background-repeat: no-repeat;
  background-position-y: -9.375rem;
}

@media (min-width: 576px) {
  .inner-page-hero {
    background-image: linear-gradient(to right, hsl(var(--gradient-color-to)) 0%, hsl(var(--gradient-color-from)) 0%);
  }

  .inner-page-hero.has-image {
    background-position-y: unset;
  }
}

@media (min-width: 1140px) {
  .inner-page-wrapper {
    padding-inline: 6.25rem;
  }
}

.inner-page-section {
  padding-block-end: 5rem;
}

@media (min-width: 768px) {
  .inner-page-section {
    padding-block-end: 12.5rem;
  }
}

@media (max-width: 767px) {
  .inner-page-section.negative-top {
    margin-block-start: -1.875rem;
  }
}

/* Recaudación */
@media (min-width: 992px) {
  .recauda .section-content {
    padding-inline-end: 9.375rem;
  }
}

@media (max-width: 991px) {

  .recauda .section-image img,
  .recarga .section-image img {
    width: 80%;
    z-index: -1;
  }

  .recauda .section-image img {
    margin-block-start: -3.125rem;
  }

  .recarga .section-image img {
    margin-block-start: -7.5rem;
    margin-block-end: 3.125rem;
  }

}

/* Video section */
.video {
  padding-block: 6.25rem;
  position: relative;
}

@media (max-width: 991px) {
  .video {
    padding-block-end: 9.375rem;
  }
}

@media (max-width: 991px) {
  .video {
    margin-top: -10.625rem;
    z-index: -2;
  }
}

/* About grid */
@media (min-width: 992px) {
  .about-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 110px);
    margin-block-start: -165px;
  }

  .about-grid div:nth-child(1) {
    grid-column: 7 / -1;
    grid-row: 1 / 5;
  }

  .about-grid div:nth-child(2) {
    grid-column: 1 / 5;
    grid-row: 3 / 5;
  }

  .about-grid div:nth-child(3) {
    grid-column: 6 / 10;
    grid-row: 5 / -1;
    margin-block-start: -40px;
  }
}

.about-grid div::before {
  position: absolute;
  width: 3.125rem;
}

@media (min-width: 992px) {
  .about-grid>div:nth-child(1)::before {
    content: url('../images/triangle-shape.svg');
    top: -50px;
    right: 120px;
    animation: movedelement 5s linear infinite;
  }

  .about-grid>div:nth-child(2)::before {
    content: url('../images/close-shape.svg');
    top: -80px;
    left: -100px;
    animation: rotatedelement 5s linear infinite;
  }

  .about-grid>div:nth-child(3)::before {
    content: url('../images/circle-shape.svg');
    bottom: 0;
    left: unset;
    right: 80px;
    animation: movedelement 5s linear infinite;
  }
}

@keyframes rotatedelement {
  0% {
    -webkit-transform: translate(0) rotate(0deg);
    transform: translate(0) rotate(0deg)
  }

  25% {
    -webkit-transform: translate(-10px, 10px) rotate(10deg);
    transform: translate(-10px, 10px) rotate(10deg)
  }

  50% {
    -webkit-transform: translate(5px, -5px) rotate(25deg);
    transform: translate(5px, -5px) rotate(25deg)
  }

  75% {
    -webkit-transform: translate(15px, -5px) rotate(15deg);
    transform: translate(15px, -5px) rotate(15deg)
  }

  to {
    -webkit-transform: translate(0) rotate(0deg);
    transform: translate(0) rotate(0deg)
  }
}

@keyframes movedelement {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  25% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px)
  }

  50% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px)
  }

  75% {
    -webkit-transform: translate(10px, -5px);
    transform: translate(10px, -5px)
  }

  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

/* -------------------------------------------------------------------------- */
/*                                 COMPONENTS                                 */
/* -------------------------------------------------------------------------- */

/* ----------- Search form ---------- */
.search-form {
  width: 15.625rem;
}

.search-input {
  position: relative;
}

.search-input>input {
  border: 2px solid hsl(var(--primary-color));
  border-radius: .75em;
  font-size: 0.8rem;
  width: 100%;
}

@media (min-width: 768px) {
  .search-input>input {
    font-size: 1rem;
  }
}

.search-input>input:focus {
  border-color: hsl(var(--primary-color-tint));
}

.search-input>input::placeholder {
  font-style: italic;
  text-transform: uppercase;
}

.search-button {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 1.875rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-inline-end: .3125rem;
}

.search-button>svg {
  fill: none;
  height: 1.25rem;
  stroke: hsl(var(--primary-color));
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------- Header navigation ------- */
.nav {
  flex-wrap: nowrap;
}

.nav-item {
  display: flex;
  justify-content: center;
  padding-block: .625rem;
  width: clamp(9.375rem, 15vw, 13.4375rem);
  position: relative;
}

.nav-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: hsl(var(--primary-color));
  border-radius: 10px;
}

.nav-item:last-child::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background-color: hsl(var(--primary-color));
  border-radius: 10px;
}

.nav-item>a {
  background-image: -moz-linear-gradient(90deg, hsl(var(--accent-color)), hsl(var(--accent-color)) 50%, hsl(var(--primary-color)) 50%);
  background-image: -webkit-linear-gradient(90deg, hsl(var(--accent-color)), hsl(var(--accent-color)) 50%, hsl(var(--primary-color)) 50%);
  background-image: linear-gradient(to right, hsl(var(--accent-color)), hsl(var(--accent-color)) 50%, hsl(var(--primary-color)) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  font-family: 'omnessemibold';
  font-size: var(--fs-nav);
  letter-spacing: 1px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item>a:is(:hover, :focus) {
  background-position: 0;
}

.nav-trigger {
  cursor: pointer;
  transition: opacity, filter .15s linear;
}

.trigger {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.trigger-inner,
.trigger-inner:before,
.trigger-inner:after {
  position: absolute;
  width: 40px;
  height: 4px;
  transition: transform .22s cubic-bezier(.55, .055, .675, .19);
  border-radius: 4px;
  background-color: hsl(var(--primary-color));
}

.trigger-inner {
  top: 50%;
  display: block;
}

.trigger-inner:before,
.trigger-inner:after {
  display: block;
  content: "";
}

.trigger-inner::before {
  top: -10px;
  transition: top .1s ease-in .25s, opacity .1s ease-in;
}

.trigger-inner::after {
  bottom: -10px;
  transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19);
}

.nav-trigger.is-active .trigger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transform: rotate(225deg);
}

.nav-trigger.is-active .trigger-inner::before {
  top: 0;
  transition: top .1s ease-out, opacity .1s ease-out .12s;
  opacity: 0;
}

.nav-trigger.is-active .trigger-inner::after {
  bottom: 0;
  transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
  transform: rotate(-90deg);
}

/* ------------ Mini cart ----------- */
.mini-cart {
  position: relative;
}

.mini-cart>svg {
  fill: none;
  height: 1.5625rem;
  stroke: hsl(var(--primary-color));
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.mini-cart>span {
  height: .9375rem;
  width: .9375rem;
  border-radius: 50%;
  background-color: hsl(var(--accent-color));
  font-size: .625rem;
  color: hsl(var(--white-color));
  display: grid;
  place-items: center;
  position: absolute;
  top: -4px;
  left: -8px;
}

/* ----------- Mobile menu ---------- */
.close-trigger>i {
  font-size: 1.625rem;
}

.overlay,
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  backdrop-filter: blur(5px);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.overlay {
  background-color: rgb(0, 0, 0, 50%);
  width: 100%;
  transform: translateX(100%);
}

.mobile-nav {
  background-color: hsl(var(--primary-color) / .8);
  width: 80%;
  padding-block: 3.125rem;
  padding-inline: 1.5625rem;
  transform: translateX(-100%);
}

.overlay.is-open,
.mobile-nav.is-open {
  transform: translateX(0);
}

.nav-item-mobile:not(:last-child) {
  border-bottom: 2px solid hsl(var(--white-color));
}

.nav-item-mobile>a {
  color: hsl(var(--white-color));
  display: block;
  padding: .9375rem.625rem;
  text-decoration: none;
}

.follow {
  font-size: .875rem;
  font-family: var(--paragraph-font);
  font-weight: var(--fw-light);
}

.social-nav a {
  background-color: hsl(var(--white-color));
  border-radius: 50%;
  display: grid;
  place-items: center;
  height: 1.875rem;
  width: 1.875rem;
  text-decoration: none;
}

.social-nav a>i {
  color: hsl(var(--primary-color));
}

/* ------------ Services ------------ */
.hero-content .services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.25rem;
}

@media (min-width: 768px) {
  .hero-content .services {
    row-gap: 3.75rem;
    place-items: center;
  }
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.service-icon {
  background-color: hsl(var(--white-color));
  border: 2px solid hsl(var(--primary-color));
  border-radius: 50%;
  display: grid;
  place-items: center;
  height: 4.6875rem;
  width: 4.6875rem;
  padding: .8125rem;
  margin-block-end: .625rem;
  transition: background 300ms ease-in-out;
}

@media (min-width: 768px) {
  .hero-content .service-icon {
    height: 6.25rem;
    width: 6.25rem;
  }
}

.service-icon>svg {
  width: 70%;
}

.service-icon>svg .shape:not(.fill) {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.service-icon>svg .clr-1.stroke {
  stroke: hsl(var(--primary-color));
}

.service-icon>svg .clr-2.stroke {
  stroke: hsl(var(--secondary-color));
}

.service-icon>svg .clr-1.fill {
  fill: hsl(var(--primary-color));
}

.service-icon>svg .clr-2.fill {
  fill: hsl(var(--secondary-color));
}

.service-item.active .service-icon,
.service-item:is(:hover, :focus) .service-icon {
  background-color: hsl(var(--primary-color));
}

.service-item.active .service-icon>svg .clr-1.stroke,
.service-item:is(:hover, :focus) .service-icon>svg .clr-1.stroke {
  stroke: hsl(var(--white-color));
}

.service-title {
  color: hsl(var(--primary-color));
  font-family: 'omnessemibold';
  font-size: .75rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .service-title {
    font-size: .875rem;
  }
}

/* Services carousel */
@media (max-width: 767px) {
  .services-carousel {
    padding-inline: 1.25rem;
  }

  .services-carousel+.next {
    right: -5px;
  }

  .services-carousel+.next+.prev {
    left: -5px;
  }
}

/* -------------- Video ------------- */
.ot-video {
  position: relative;
}

.ot-video::before {
  content: '';
  background-color: hsl(var(--text-color) / .3);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.ot-video img {
  width: 100%;
}

.ot-video-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background 1s ease-in-out;
  z-index: 2;
}

.ot-video-button>svg {
  border-radius: 50%;
  fill: hsl(var(--white-color));
  height: 80px;
  width: 80px;
  transition: 1s;
}

@media (min-width: 768px) {
  .ot-video-button>svg {
    height: 120px;
    width: 120px;
  }
}

.ot-video-button>svg .stroke-solid {
  stroke-dashoffset: 0;
  stroke: hsl(var(--white-color));
  stroke-dashArray: 300;
  stroke-width: 6px;
  transition: stroke-dashoffset 1s, opacity 1s;
}

.ot-video-button:is(:hover, :focus)>svg {
  background-color: hsl(var(--white-color) / .3);
}

.ot-video-button:is(:hover, :focus) .stroke-solid {
  opacity: 1;
  stroke-dashoffset: 300;
}

/* ----------- Grid logos ----------- */
.ot-logo-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  margin-block-start: 5rem;
}

@media (min-width: 992px) {
  .ot-logo-grid {
    gap: 3.125rem;
  }
}

.ot-logo-grid a {
  transition: transform .3s ease-in-out;
}

.ot-logo-grid a:is(:hover, :focus) {
  transform: scale(.9);
}

/* --------- Absolute image --------- */
.absolute-image {
  max-width: 60%;
  position: absolute;
  right: 0;
  top: 7.5625rem;
}

@media (min-width: 992px) {
  .absolute-image {
    max-width: 100%;
    top: 1.5625rem;
    right: unset;
  }
}

/* ------------- Loader ------------- */
.loader {
  width: 150px;
  height: 150px;
  border: 6px solid hsl(var(--secondary-color));
  border-bottom-color: hsl(var(--primary-color));
  border-radius: 50%;
  display: inline-block;
  position: relative;
  -webkit-animation: loaderRotation 1s linear infinite;
  animation: loaderRotation 1s linear infinite;
}

.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes loaderRotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}